#winImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: none;
    animation: flash 0.6s infinite;
    z-index: 999;
}

@keyframes flash {
    0% {opacity: 1; }
    50% {opacity: 0; }
    100% {opacity: 1; }
}

body, html {
    font-family: Orbitron;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#game-container {
    display: grid;
    width: 100vw;
    height: 100vh;
}
#board{
    
}

@keyframes bounce3 {
    0%   { transform: translateY(0); }
    15%  { transform: translateY(-30px); }
    30%  { transform: translateY(0); }
  
    45%  { transform: translateY(-20px); }
    60%  { transform: translateY(0); }
  
    75%  { transform: translateY(-10px); }
    90%  { transform: translateY(0); }
  
    100% { transform: translateY(0); }
  }
  
  .bounce-3 {
    animation: bounce3 1.2s ease-out forwards;
  }
#is_flag{
   position: fixed;
   top:-100000px;
}
#is_flag + span{
    filter: grayscale(70); 
  
}
#is_flag:checked + span{
    display: block;
 filter: none;  animation: bounce3 1.2s ease-out forwards;
}

@keyframes zoomIn {
    from {
      transform: scale(0.3);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
main{
    display: flex;
    flex-direction: column;
   align-items: center;
    width: 100vw;
    font-size: 3rem;
}
#board button {
    font-size: 2rem;
     height:calc(60vh/10);
     aspect-ratio: 1;
     display: inline-flex;
     align-items: center;
     background-color: transparent;
     border: none;
     padding: 0;
     margin: 0;
     text-shadow: 0 0 6px  blue;
}
#board button:focus{
    animation: zoomIn 1.2s ease-out forwards;
}
.row{
    display: flex;;
}
#state{
  position: fixed;
  top:50px;
  background-color: white;
  color: red;
  font-size: 30px;
  text-align: center;
  width: 100vw;
  
}
#state:empty{
    display: none;
}
